html{
    margin: 0 auto;
    max-width: 1280px;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
}

/* LAYOUT HEADER/FOOTER */
.header-footer-container{
    width: 85%;
    min-height: 100px;
    margin: 0 auto;
}
/* LAYOUT CONTENUTI CENTRALI */
.main-container{
    width: 75%;
    max-height: 800px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.clearfix{
    content: '';
    display: block;
    clear: both;
}
a{
    color: currentColor;
    text-decoration: none;
}
.nav-bar{
    background-color: white;
    height: 50px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
/* NAV-BAR SINISTRA */
.nav-content_left{
    position: absolute;
    font-size: 16px;
    height: 100%;
    width: 60%;
    float: left;
    left: 0;
}
.nav-content_left>img{
    float: left;
    margin-right: 20px;
    vertical-align: center;
    margin-top: 10px;
}

.nav-content_left>ul li{
    float: left;
    padding-right: 15px;
    list-style: none;
    vertical-align: center;
}
.nav-content_left li{
    padding-left: 10px;
    vertical-align: center;
}
/* NAV-BAR DESTRA */
.nav-content_right{
    position: absolute;
    font-size: 16px;
    height: 100%;
    width: 40%;
    float: right;
    right: 0;
}
.nav-content_right>ul li{
    float: left;
    padding-right: 15px;
    list-style: none;
    vertical-align: center;
}
.nav-content_right li{
    padding-left: 10px;
    vertical-align: center;
}
.nav-content_right>button{
    float: left;
    vertical-align: center;
    margin-left: 25px;
}
/* BOTTONE BLU CARATTERISTICHE DI DEFAULT */
.blue-button{
    color: white;
    background-color: #0061ff;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
    font-weight: 600;
}
.nav-content_right>button{
    transform: translate(0%, -20%);
}

/* HEADER */
header{
    min-height:600px; 
    background-color: #b4d0e7;
    margin-bottom: 100px;
}
#header-title{
    font-size: 30px;
    padding-top: 30px;
}
.header-row{
    min-height: 400px;
}
/* COLONNE HEADER */
#col1{
    float: left;
    max-width: 30%;
}
#col1>button{
    height: 35px;
}
#col1>h5{
    font-weight: 200;
}
#down-arrow{
    font-size: 30px;
}
#col2{
    float: left;
    max-width: 70%;
}
#col2>img{
    height: 450px;
}

/* CARD */
.card{
    float: left;
    width: calc(33% - 40px);
    min-height: 800px;
    border: 1px solid lightgrey;
    margin-right: 40px;
}
.card_header{
    border-bottom: 1px solid lightgrey;
    vertical-align: center;
    text-align: center;
    padding-bottom: 5px;
    font-weight: 400;
}
.card_header img{
    height: 18px;
    transform: translate(0,25%);
    margin-right: 5px;
}
.card_title-price{
    padding-top: 5%;
    padding-left: 10%;
}
.card_title-price>h3{
    font-size: 18px;
    margin-bottom: 5px;
}
.card_title-price>h6{
    color: grey;
    font-size: 13px;
    margin-top: 2px;
    font-weight: 400;
}
.card-description1{
    padding-top: 10%;
    padding-left: 10%;
}
.card-description1>div{
    margin-bottom: 20px;
    font-size: 14px;
    text-align: left;
}
.card-description1 img{
    height: 15px;
    margin-right: 5px;
}
.card-button>.blue-button{
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 10%;
    padding-right: 10%;
}
.buy-now-link{
    margin-top: 20px;
    padding-left: 10%;
}
.buy-now-link>a{
    color: blue;
}

.card>hr{
    border: 1px solid lightgrey;
    width: 20%;
    float: left;
    margin-left: 25px;
}
.card-description2{
    margin-left: 25px;
}
.card-description2 ul{
    list-style: none;
    padding-inline-start: 0;
    font-size: 14px;
    margin-bottom: 60px;
    margin-top: 10px;
}
.card-description2 ul>li{
    margin-bottom: 18px;
}
#horizontal-card{
    border: 1px solid lightgrey;
    width: 95%;
}
#horizontal-card-content{
    min-height: 150px;
    width: 100%;
}
#horizontal-card-title{
    float: left;
    width: 40%;
    height: 100%;
    padding-left: 5%;
    
}
#horizontal-card-button{
    float: left;
    width: 45%;
    height: 100%;
}
#horizontal-card-button>button{
    margin-left: 40%;
    margin-top: 8%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
}
#horizontal-card-description{
    float: left;
    height: 100%;
    padding-left: 5%;
    font-size: 14px;
}

.content-col{
    float: left;
    width: 45%;
    min-height: 200px;
}
.content-col>img{
    height: 400px;
}
.content-col>h2{
    margin-left: 100px;
}
.content-col>p{
    margin-left: 100px;
}
.content-col>button{
    background-color: white;
    border: 1px solid black;
    margin-left: 100px;
    margin-top: 10px;
    padding: 8px;
}

.card-mini{
    float: left;
    width: calc(33% - 40px);
    min-height: 500px;
    margin-right: 40px;
    margin-bottom: 50px;
}
.card-mini-img{
    height: 220px;
}
.card-mini>h3{
    margin-left: 10px;
}
.card-mini>p{
    margin-left: 10px;
}
.card-mini>p span{
    text-decoration: underline;
}
#blue-anchor{
    color: blue;
    text-decoration: underline;
}

.section1{
    margin-top: 100px;
    height: 400px;
    width: 100%;
    margin: 0;
}
.col{
    float: left;
    height: 100%;
    margin: 0;
    width: 33%;
}
.col-quarter{
    float: left;
    height: 50%;
    margin: 0;
    width: 50%;
    position: relative;
}

.img-bg_color{
    width: 100%;
    height: 100%;
    position: relative;
}
.quarter-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);  
}
#bg-left-1{
    background-color: #a2d39b;
}
#quarter-left-1{
    height: 30px;   
}

#bg-left-2{
    background-color: #61082b;
}
#quarter-left-2{
    height: 80px;
}

#bg-left-3{
    background-color:#0093ce;
}
#quarter-left-3{
    height: 20px;
}
#bg-left-4{
    background-color: #ff1c1c;
}
#quarter-left-4{
    height: 40px;
}
#bg-right-1{
    background-color: #d5001f;
}
#quarter-right-1{
    height: 30px;
}
#bg-right-2{
    background-color: #b4d0e7;
}
#quarter-right-2{
    height: 12px;
}
#bg-right-3{
    background-color: #0d2481;
}
#quarter-right-3{
    height: 50px;
}
#bg-right-4{
    background-color: #ffd830;
}
#quarter-right-4{
    height: 60px;
}

#bg-center{
    background-color: #f5f5f5;
}
#center-col-img{
    height: 40px;
    margin-left: 10%;
    margin-top: 10%;
}
#horiz-rule{
    border: 1px solid #e3e3e4;
    width: 10%;
    margin-left: 10%;
}
#center-col-paragr{
    padding: 10%;
    font-size: 14px;
}