html{
    margin: 0 auto;
    max-width: 1280px;
    font-family: 'Poppins', sans-serif;
}
/* LAYOUT HEADER/FOOTER */
.header-footer-container{
    width: 85%;
    min-height: 100px;
    margin: 0 auto;
}
/* LAYOUT CONTENUTI CENTRALI */
.main-container{
    width: 75%;
    min-height: 100px;
    margin: 0 auto;

}
.clearfix{
    content: '';
    display: block;
    clear: both;
}
a{
    color: currentColor;
    text-decoration: none;
}
.nav-bar{
    background-color: white;
    height: 50px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
/* NAV-BAR SINISTRA */
.nav-content_left{
    position: absolute;
    font-size: 16px;
    height: 100%;
    width: 60%;
    float: left;
    left: 0;
}
.nav-content_left>img{
    float: left;
    margin-right: 20px;
    vertical-align: center;
    margin-top: 10px;
}

.nav-content_left>ul li{
    float: left;
    padding-right: 15px;
    list-style: none;
    vertical-align: center;
}
.nav-content_left li{
    padding-left: 10px;
    vertical-align: center;
}
/* NAV-BAR DESTRA */
.nav-content_right{
    position: absolute;
    font-size: 16px;
    font-family: sans-serif;
    height: 100%;
    width: 40%;
    float: right;
    right: 0;
}
.nav-content_right>ul li{
    float: left;
    padding-right: 15px;
    list-style: none;
    vertical-align: center;
}
.nav-content_right li{
    padding-left: 10px;
    vertical-align: center;
}
.nav-content_right>button{
    float: left;
    vertical-align: center;
    margin-left: 25px;
}
/* BOTTONE BLU CARATTERISTICHE DI DEFAULT */
.blue-button{
    color: white;
    background-color: #0061ff;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
    font-weight: 600;
}
.nav-content_right>button{
    transform: translate(0%, -20%);
}

/* HEADER */
header{
    min-height:600px; 
    background-color: #b4d0e7;
    margin-bottom: 100px;
}
#header-title{
    font-size: 30px;
    padding-top: 30px;
}
.header-row{
    min-height: 400px;
}
/* COLONNE HEADER */
#col1{
    float: left;
    max-width: 30%;
}
#col1>button{
    height: 35px;
}
#col1>h5{
    font-weight: 200;
}
#down-arrow{
    font-size: 30px;
}
#col2{
    float: left;
    max-width: 70%;
}
#col2>img{
    height: 450px;
}

/* CARD */
